build/zinc*
build/scala*
build/*.jar
build/build.out
docs/_build
*.pyc
*.iws
*.ipr
*.idea/
*.log
.*.swp
*.iml
.idea/**
**/.classpath
**/.project
**/.settings
target
atlassian*
geomesa-*.*.*-*
**/src/main/resources/git.properties
**/*.db
.ipynb_checkpoints
*.ipynb
*.sc
.sphinx
*.settings
settings.*
*.project